In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use("fivethirtyeight")
sns.set()
sns.palplot(sns.color_palette())
%matplotlib inline

C:\Users\pj528\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('covid19_tweets.csv')
df.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [3]:
df.shape

(132601, 13)

In [4]:
df.describe()

       user_followers   user_friends  user_favourites
count    1.326010e+05  132601.000000     1.326010e+05
mean     1.075077e+05    2101.185670     1.419847e+04
std      8.279025e+05    9044.524422     4.380716e+04
min      0.000000e+00       0.000000     0.000000e+00
25%      1.740000e+02     152.000000     2.070000e+02
50%      1.008000e+03     550.000000     1.761000e+03
75%      5.335000e+03    1723.000000     9.166000e+03
max      4.944256e+07  497363.000000     2.047197e+06

In [5]:
df.dtypes

user_name           object
user_location       object
user_description    object
user_created        object
user_followers       int64
user_friends         int64
user_favourites      int64
user_verified         bool
date                object
text                object
hashtags            object
source              object
is_retweet            bool
dtype: object

In [6]:
df.isnull().sum()

user_name               0
user_location       26787
user_description     7499
user_created            0
user_followers          0
user_friends            0
user_favourites         0
user_verified           0
date                    0
text                    0
hashtags            38093
source                 39
is_retweet              0
dtype: int64

In [9]:
print('The missing values in percentages are:')
print('-------------------------------------')
for i in df.columns:
    if df[i].isna().sum()>0:
        miss = np.round((df[i].isna().sum()/df.shape[0])*100,3)
        print(i, "has {0}% missing value.".format(miss))

The missing values in percentages are:
-------------------------------------
user_location has 20.201% missing value.
user_description has 5.655% missing value.
hashtags has 28.728% missing value.
source has 0.029% missing value.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132601 entries, 0 to 132600
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_name         132601 non-null  object
 1   user_location     105814 non-null  object
 2   user_description  125102 non-null  object
 3   user_created      132601 non-null  object
 4   user_followers    132601 non-null  int64
 5   user_friends      132601 non-null  int64
 6   user_favourites   132601 non-null  int64
 7   user_verified     132601 non-null  bool
 8   date              132601 non-null  object
 9   text              132601 non-null  object
 10  hashtags          94508 non-null   object
 11  source            132562 non-null  object
 12  is_retweet        132601 non-null  bool
dtypes: bool(2), int64(3), object(8)
memory usage: 11.4+ MB

#Exploration and Analysis

In [15]:
print('Unique Locations: ',df["user_location"].nunique())

Unique Locations:  22131

In [ ]:
df["n_of_texts"] = df["text"].apply(lambda x: len(x))
plt.figure(figsize(7,4))
sns.kdeplot(df['n_of_texts'])
plt.title("Distribution Plot")
plt.xlabel("Number Of Texts")